* {
  margin: 0;
}

.App {
  background-color:aliceblue;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  background-color: grey;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

img {
  height: 80%;
  width: 80%;
}

#shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#products {
  border-style: groove;
  width: 30%;
}

#searchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cart {
  display: flex;
  justify-content: space-around;
}

#cartItems {
  border-style: solid;
  width: 80%;
  height: 80%;
}

#cartItem {
  height: 200px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
}

#cartItem img {
  border-style: solid;
  height: auto;
  max-width: 30%;
}

#cartItem button {
  height: 20px;
}

#quantity {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

#checkout {
  display: flex;
  justify-content: space-around;
}

#checkout #cartItems {
  width: 50%;
}

#checkout #buttons {
  display: none;
}

#productdetail {
  display: flex;
  justify-content: space-around;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
